.whatsapp{
    height: 40px;
    width: 40px;
    background-color: rgb(6, 180, 70);
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 25px;
    border-radius: 30%;
    box-shadow: 0 0 5px black;
    color: whitesmoke;
    text-align: center;
}
.whatsapp i{
    line-height: 40px;
}